  <tr class="line<%= cycle("0", "1") %>", id="reserve_<%= @reserve.id %>">
    <td>
      <%= link_to @reserve.try(:user).try(:username), @reserve.user if @reserve.try(:user) %><br />
      <%= link_to @reserve.try(:user).try(:agent).try(:full_name), @reserve.user if @reserve.try(:user).try(:agent) %>
    </td>
    <td><%= render 'reserves/title', :reserve => @reserve -%></td>
    <td>
      <%= i18n_information_type(@reserve.information_type_id) %>&nbsp;
      <% if false # reserve.information_type_id == 1 %>
        <%= mail_to Reserve.get_information_type(reserve), 
          Reserve.get_information_type(reserve), :subject => reserve.retained_mail_title, :body => reserve.retained_mail_message %>
      <% else %>
        <%= Reserve.get_information_type(@reserve)%>
      <% end %>
    </td>
    <td>
      <%- if @reserve.retained %>
        <%= t('reserve.called') %>
      <%- else %>
        <%= form_for @reserve, :url => {:action => 'informed', :id => @reserve.id}, :html => {:onsubmit => "return retained(this);"}, :method => 'post', :remote => true do |f| %>
          <%= f.hidden_field :id, :value => @reserve.id %> 
          <%= f.hidden_field :retained, :value => true %> 
          <%= submit_tag t('activerecord.attributes.retained_manifestation.done') %>
        <% end %>
      <% end %>
    </td>
  </tr>    
