<%= paginate(@reserves) %>

<br>

<ol data-role="listview">
  <%- @reserves.each_with_index do |reserve, i| -%>
    <li>
      <%= link_to reserve do %>
        <%= reserve.manifestation.original_title %>
        <br />
        <%= t('activerecord.attributes.reserve.state') -%>:
        <nobr><%= i18n_state(reserve.state) -%></nobr>
        <%- if reserve.retained -%>
          (<%= t('reserve.called')-%>)
        <%- end -%>
        <br />
        <%= t('activerecord.attributes.reserve.created_at') -%>:
        <%= l(reserve.created_at, :format => :only_date) -%>
        <br />
        <%= t('activerecord.attributes.reserve.expired_at2') -%>:
        <%= l(reserve.expired_at, :format => :only_date) -%>
      <%- end -%>
    </li>
  <% end %>
</ol>

<%= paginate(@reserves) %>
