<script>
  function push_submit(format) {
    var o = document.getElementById('form');
    if (format == 'pdf')
      o.action = "<%= checkouts_path(:format => 'pdf') %>";
    else if(format == 'tsv')
      o.action = "<%= checkouts_path(:format => 'tsv') %>";
    else
      o.action = "<%= checkouts_path %>";
    o.submit();
  }
  $(function(){
    $('#checkout_search_start_date').setCalendar({src:'/assets/calendar.png'});
    $('#checkout_search_end_date').setCalendar({src:'/assets/calendar.png'});
  });
</script>

<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checkout')) -%></h1>
<div id="content_list">
<%= form_for :checkout, :url => checkouts_path, :html => {:method => 'get', :id => 'form'} do |f| -%>
  <div style="color: red"><%= @checkout_search.try(:[], :errors) %></div>
  <table class='no_border'>
   <tr>
     <td><%= t('advanced_search.library') -%>:</td> 
     <td colspan=3><%= select2_tag 'checkout_search_library_id', 'checkout_search[library_id]', @libraries, @checkout_search.try(:[], :library_id), :select_attribute => :name, :display_attribute => :display_name, :alt_display => false, :include_blank => true, :autofocus => true %></td>
   </tr>
   <tr>
     <td><%= t('activerecord.attributes.user.username') %>:</td><td><%= text_field_tag 'checkout_search[username]', @checkout_search.try(:[], :username) %></td>
     <td><%= t('activerecord.attributes.user.user_group') %>:</td> 
     <td><%= select2_tag 'checkout_search_user_group_id', 'checkout_search[:user_group_id]', @user_groups, @checkout_search.try(:[], :user_group_id), :select_attribute => :name, :display_attribute => :display_name, :include_blank => true %></td>
   </tr>
   <tr>
     <td><%= t('advanced_search.from_date') -%>:</td><td><%= text_field_tag 'checkout_search[start_date]', @checkout_search.try(:[], :start_date), :size => 20, :placeholder => "#{t('page.example')}: 2011-04-01"-%></td>
    <td><%= t('advanced_search.to_date') -%>:</td><td><%= text_field_tag 'checkout_search[end_date]', @checkout_search.try(:[], :end_date), :size => 20, :placeholder => "#{t('page.example')}: 2011-04-30" -%></td>
  </tr>
  <tr>
    <td><%= t('activerecord.attributes.item.identifier') %>:</td>
    <td colspan=3><%= text_field_tag 'checkout_search[item_identifier]', @checkout_search.try(:[], :item_identifier) %><td>
  </tr>
  <%= render 'form_classification_field' %>
  <tr>
    <td><%= t('checkout.search.with_returned') %>:</td>
    <td><%= check_box_tag 'checkout_search[with_returned]', true, @checkout_search.try(:[], :with_returned) %></td>
    <td><%= t('checkout.search.overdue') %>:</td>
    <td>
      <%= check_box_tag 'checkout_search[overdue]', true, @checkout_search.try(:[], :overdue) %> 
      <%= t('checkout.number_of_day_overdue') -%>: <%= text_field_tag 'checkout_search[days_overdue]', @checkout_search.try(:[], :days_overdue), :class => 'resource_integer' -%>
      <%= t('activerecord.attributes.checkout.over') %>
    </td>
  </tr>
  </table>
    <%= submit_tag t('page.search'), :onclick => "push_submit(null);" -%>
    <%= submit_tag t('page.output_pdf', :model =>t('page.listing', :model => t('activerecord.models.checkout'))), :onclick => "push_submit('pdf');" -%>
    <%= submit_tag t('page.output_tsv', :model =>t('page.listing', :model => t('activerecord.models.checkout'))), :onclick => "push_submit('tsv');"-%>
    <%= submit_tag t('page.output_excelx', :model => t('page.listing', :model => t('activerecord.models.checkout'))), :name => 'output_excel' %> 
<%- end -%>

<%= render 'list' -%>

<%- if @checkouts.size == 0 -%>
  <p><%= t('checkout.no_checkout') -%></p>
<%- end -%>

<%= paginate(@checkouts) -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <%- if current_user.has_role?('Librarian') -%>
      <li><%= link_to t('checkout.all_checkout'), checkouts_path -%></li>
      <li><%= link_to t('checkout.my_checkout'), user_checkouts_path(current_user) -%></li>
    <%- end -%>
    <%- if @user -%>
      <li><%= link_to t('page.listing', :model => 'activerecord.models.checkout'), user_checkouts_path(@user) -%></li>
    <%- end -%>
  </ul>
</div>
