<ol data-role="listview">
  <%- if @checkouts.present? -%>
    <%- @checkouts.each_with_index do |checkout, i| %>
      <li>
        <%= link_to checkout do %>
          <%= checkout.item.manifestation.original_title %>
          <%- if checkout.item.call_number %>
            <div>
              <%= t('activerecord.attributes.item.call_number') -%>: <%= call_numberformat(checkout.item) -%>
            </div>
          <%- end -%>
          <%- if SystemConfiguration.get('item.use_different_identifier') %>
            <div>
              <%= t('activerecord.attributes.item.identifier') %>: <%= checkout.item.identifier %>
            </div>
          <%- end -%>
          <div>
            <%= t('activerecord.attributes.item.item_identifier') -%>: <%= checkout.item.item_identifier -%>
          </div>
          <div>
            <%= t('activerecord.attributes.item.location_category') %>: <%= checkout.item.location_category.keyname if checkout.item.location_category -%>
          </div>
          <div>
            <%= t('activerecord.attributes.checkout.due_date') %>: <%= l(checkout.due_date, :format => :only_date) -%>
          </div>
          
          <%- if checkout.checkin_id.blank? && checkout.overdue? -%> 
            <div style="color: red"><%= t('checkin.overdue_item') %></div>
          <%- end -%>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <%= t('activerecord.errors.messages.item_not_exist', :status => t('checkout_history.checkout')) %>
  <% end %>
</ol>
