<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('checkout.extend') -%></h1>
<div id="content_list">
<div style="color: red"><%= raw flash[:message] -%></div>
<%= form_for(@checkout, :url => {:controller => 'checkouts', :action => 'extend_checkout'}) do |f| -%>
  <%= f.error_messages -%>
  <div class="field">
    <strong><%= t('activerecord.attributes.item.item_identifier') -%></strong>
    <%= f.text_field :item_identifier, :class => 'resource_user_number' -%>

    <%= f.submit t('page.read') -%>
  </div>
<%- end -%>
<%= javascript_tag("$('#checkout_item_identifier').focus()") -%>
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('activerecord.models.checkin'), checkins_path -%></li>
    <li><%= link_to t('page.search_resource', :model => t('activerecord.models.user')), users_path -%></li>
  </ul>
</div>
