<p id="notice"><%= notice %></p>

  <%= render 'manifestations/title', :manifestation => @checkout.item.manifestation -%>
  <p>
    <strong><%= t('activerecord.attributes.item.item_identifier') -%></strong><br />
    <%= @checkout.item.item_identifier -%>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.checkout.due_date') -%></strong><br />
    <%= l(@checkout.due_date, :format => :only_date) if @checkout.due_date -%>
    <%- if @checkout.overdue? %>
      <div style="color: red"><%= t('activerecord.attributes.checkout.past_due') -%><%= t('checkout.days_overdue', :days => @checkout.day_of_overdue) %></div>
    <%- end -%>
  </p>
  <%- if can? :destroy, @checkout -%>
    <p>
      <strong><%= t('checkout.current_user') -%></strong><br />
      <%= link_to @checkout.user_username, @checkout.user -%>
      <div style="color: red"><%= user_notice(@checkout.user) %></div>
    </p>
  <%- end -%>
  <p>
    <strong><%= t('activerecord.attributes.checkout.checked_at') -%></strong><br />
    <%= l(@checkout.checked_at, :format => :only_date) if @checkout.checked_at -%>
  </p>

  <%- if @checkout.overdue? -%>
    <div style="color: red"><%= t('checkout.cannot_exceed_after_overdue') %></div>
  <%- end -%>
  <%- if @checkout.checkin_id.blank? && (can? :update, @checkout) && @checkout.checkout_renewable?(current_user) -%> 
    <%- if @checkout.user.in_penalty -%>
      <div style="color: red"><%= t('checkout.cannot_exceed_in_penalty') %></div>
    <%- else -%>
      <%= link_to t('checkout.extend'), user_checkout_path(@checkout.user, @checkout), :method => :put -%>
    <%- end -%>
  <%- end -%>
